@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

p {
  cursor: pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
